// $dark: blue;
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';


html {
    overflow-x: hidden;
    width: 100%;
}
body {
    width:100%;
    margin:auto;
    overflow-x: hidden;
}